* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 10px;
    background-color: #bfafff;
}

#wrapper {width: 100%;}

h1 {
    margin: 0 0 20px 0;
    text-align: center;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color: #2f2f7f;
}

h1,
#dataEntry,
#chart,
#dataManipulation{
    background-color: #dfcfff;
    box-shadow: 2px 2px 3px #2f2f7f;
}

#dataEntry,
#dataManipulation{
    display: grid;
    padding: 0.75em;
    gap: 10px;
    border-radius: 10px;
}

#dataEntry {grid-template-columns: repeat(6, 1fr);}

label, input, button, p {font-family: Arial, Helvetica, sans-serif;}

button {
    height: 50px;
    padding: 5px;
    font-size: 1em;
}

.leftAlign {grid-column: 1 / span 2;}

.rightAlign {grid-column: 3 / span 4;}

#addBtn, #prevBtn {grid-column: 1 / span 3;}

#resetBtn, #nextBtn {grid-column: 4 / span 3;}

#chart {
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

#chart section {
    border: 2px solid #2f2f7f7f;
    height: 80px;
}

#chart section:hover {
    background-color: #ef9fff;
}

#chart section p {
    margin: 1em 0 0 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}

#totals {
    padding: 1em 0;
    border: 2px solid #2f2f7f7f;
    background-color: #f7e7ff;
}

.hidden {display: none;}

#dataManipulation {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 10px 1fr;
}

#consumedGrp {
    margin: 1em 0 0 0;
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

.disabledElement {
    opacity: 50%;
}

#copyBtn {
    grid-column: 1;
    grid-row: 2;
}

#editBtn {
    grid-column: 2;
    grid-row: 2;
}

#delBtn {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#importBtn {
    grid-column: 1;
    grid-row: 5;
}

#exportBtn {
    grid-column: 2;
    grid-row: 5;
}

@media screen and (min-width: 640px) {

}

@media screen and (min-width: 1000px) {

}